/* Mein Button-Style */
.btn-primary-jd {
    color: #fff;
    background-color: #2e89a4;
    border-color: #2e89a4;
    float: right;
    margin-top: -50px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    text-align: center;
}

.h2 {
    margin-left: 40%;
}

.termin {
    margin-bottom: 21%;
}
.input-jd {
    width: 300px;
    font-family: sans-serif
}

.textarea-jd {
    width:300px;
    height: 100px;
}

table {
    border-collapse: collapse;
    }

table, th, td {
    border: 1px solid black;
}

th {
    width: 160px;
    font-weight: bolder;
    font-size: 20px;
}

tr {
    font-size: 18px;
}

.termin-div {
    width: 100%;
    height: 5%;
}

.terminleft {
    float: left;
    display: inline-block;
    margin-top: -20%;
    margin-left: 10%;
    
}

.terminright {
    float: right;
    
    display: inline-block;
    margin-top: -20%;
    margin-left: 10%;
    
}

.about-left {
    float: left;
    display: inline-block;
    margin-left: 20%;
    margin-right: auto;
    width: 200px;
        
}

.about-right {
    float: right;
    display: inline-block;
    margin-right: 20%;
    margin-left: auto;
    margin-top: ;
    width: 200px;
    height: 200px;
    
}

.about-mid {
    display: inline;
    width: 100px;
    height: 100px;
    margin-left: 15%;
    margin-right: auto;
    }




.round-button {
	width:50%;
}
.round-button-circle {
	width: 8%;
	height:0;
	padding-bottom: 8%;
    border-radius: 100%;
	border:1px solid #cfdcec;
    overflow:hidden;
    
    background: #4679BD; 
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
	background:#30588e;
}
.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center;
	color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:normal;
    text-decoration:none;
}