/* Mein Button-Style */
.btn-primary-jd {
    color: #fff;
    background-color: #2e89a4;
    border-color: #2e89a4;
    float: right;
    margin-top: -50px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    text-align: center;
}

.h2 {
    margin-left: 40%;
}

.termin {
    margin-bottom: 21%;
}
.input-jd {
    width: 300px;
    font-family: sans-serif
}

.textarea-jd {
    width:300px;
    height: 100px;
}

table {
    border-collapse: collapse;
    }

table, th, td {
    border: 1px solid black;
}

th {
    width: 160px;
    font-weight: bolder;
    font-size: 20px;
}

tr {
    font-size: 18px;
}

.terminleft {
    float:left;
    display: inline-block;
    margin-left: 23%;
    margin-top: -19%;
    bottom: auto;

}

.terminright {
    float: right;
    margin-right: 30%;
    margin-top: -19%;
    bottom: auto;
}